<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

    <title>Auth page</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="./auth-page_files/index.js"></script>
</head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0 bg-warning">

    <nav class="navbar bg-body-warning">
        <div class="container-fluid">
            <p class="fs-3"><a href="http://localhost:3000/auth"
                    class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                    style="text-decoration: none !important;">Ш++</a></p>
        </div>
    </nav>

    <br>
        <p class="text-center fs-3 fw-semibold">Вітаємо! Оберіть на яку сторінку ви б хотіли потрапити</p><br>
        
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-success btn-lg" id="btn-books">Сторінка з книжками</button>
            <button type="button" class="btn btn-outline-success btn-lg" id="btn-admin">Адмінська сторінка</button>
        </div>

</body>

</html>