<script id="pattern" type="text/template">
    <tr>
        <td scope="row" id="{id}">{id}</td>
        <td id="{title}">{title}</td>
        <td id="{author}">{author}</td>
        <td id="{year}">{year}</td>
        <td><button>Видалити</button></td>
        <td id="clicks">{clicks}</td>
    </tr>
</script>