<script id="pattern" type="text/template">
    <tr>
        <td scope="row" id="{id}">{id}</td>
        <td id="{title}">{title}</td>
        <td id="{author}">{author}</td>
        <td id="{year}">{year}</td>
        <td><button class="delete-btn" index-btn="{id}">Видалити</button></td>
        <td id="clicks">{clicks}</td>
    </tr>
</script>

<script id="pattern-pagination" type="text/template">
    <li class="page-item"><a class="page-link" page="{id}" href="">{id}</a></li>
</script>