<script id="pattern" type="text/template">
    <div data-book-id="{id}" class="book_item col-xs-6 col-sm-3 col-md-2 col-lg-2">
        <div class="book">
            <a href="/book/{id}"><img src="./images/{id}.jpg" alt="{title}">
                <div data-title="{title}" class="blockI">
                    <div data-book-title="{title}" class="title size_text">{title}</div>
                    <div data-book-author="{author}" class="author">{author}</div>
                </div>
            </a>
            <a href="/book/{id}">
                <button type="button" class="details btn btn-success">Читать</button>
            </a>
        </div>
    </div>
</script>

<script id="miniItem" type="text/template">
    <div class="eAutoComplete_itemList">
        <a class="" href="/book/{id}">
          <img class="col-my-2" src="http://localhost:3000/images/{id}.jpg">
          <div class="infoBook col-my-10">
            <div class="title">{title}</div>
            <div>{author}</div>
          </div>
        </a>
      </div>
</script>

<script id="more" type="text/template">
    <div class="eAutoComplete_itemMore">
        <a href="{pathUrl}/search?search={text}">
          <span>Показати більше "{text}"</span>
        </a>
      </div>
</script>

<script id="not_found" type="text/template">
    <div class="eAutoComplete_itemList">
        <a class="" href="">
          <img class="col-my-2" src="http://localhost:3000/images/sad-smile.jpg">
          <div class="infoBook col-my-10">
            <div class="title">{title}</div>
            <div>{author}</div>
          </div>
        </a>
      </div>
</script>