#black-square, .hidden, .same-squares {
    background-color: black;
    width: 100px;
    height: 100px;
}

.same-squares {
    margin-top: 10px;
}

#yellow-square {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

#red-square {
    opacity: 0;
    background-color: red;
    width: 50px;
    height: 50px;
}

#green-rectangle {
    opacity: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: green;
    width: 50px;
    height: 20px;
}

#loaded-picture {
    margin-top: 30px;
}

button {
    margin-top: 10px;
}