#black-square, .hidden {
    background-color: black;
    width: 100px;
    height: 100px;
}

.same-squares {
    background-color: black;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-top: 10px;
}

#yellow-square {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

#red-square {
    opacity: 0;
    background-color: red;
    width: 50px;
    height: 50px;
}

#green-rectangle {
    opacity: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: green;
    width: 50px;
    height: 20px;
}

#field-images {
    margin-top: 20px;
}

#coordination {
    position: absolute;
    width: 102px;
    top: 0;
    left: 92%;
    bottom: 90%;
}

#show-language {
    position: absolute;
    width: 100px;
    top: 3%;
    left: 92%;
}

#show-latitude-longtitude {
    position: absolute;
    width: 200px;
    top: 6%;
    left: 87%;
}

#local-block, #cookie-block, #session-block {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
}